<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
	<title>kumpf.io</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/css/zoomwall.css" />
	<script type="text/javascript" src="/js/zoomwall.js"></script>
</head>

<body>

	{{{body}}}

	<script>
		window.onload = function () {
			zoomwall.create(document.getElementById('zoomwall'), true);
		};
	</script>

</body>

</html>