<ul>
  <li>
    <a href="/sub/Animated">Animated</a>
  </li>
  <li>
    <a href="/sub/Asian">Asian</a>
  </li>
  <li>
    <a href="/sub/Stars">Stars</a>
  </li>
  {{#each rootDirs}}
  <li>
    <a href="/{{dir}}">{{file}}</a>
  </li>
  {{/each}}
</ul>